<template>
  <v-layout>
    <v-flex>
      <search-panel />
      <songs-panel class="mt-2" />
    </v-flex>
  </v-layout>
</template>

<script>
import SongsPanel from '@/components/songs/SongsPanel.vue'
import SearchPanel from '@/components/songs/SongsSearchPanel.vue'
import api from '@/services/api'

export default {
  name: 'Songs',
  data () {
    return {
      songs: []
    }
  },
  async mounted () {
    // do a request to the backend for all the songs
    this.songs = (await api.getAllSongs()).data
  },
  methods: {
    navigateTo (route) {
      this.$router.push(route)
    }
  },
  computed: {
  },
  components: {
    SongsPanel,
    SearchPanel
  }
}
</script>

<style scoped>
.song {
  padding: 20px;
  height: 330px;
  overflow: hidden;
}

.song-title {
  font-size: 30px;
}

.song-artist {
  font-size: 24px;
}

.song-album {
  font-size: 18px;
}

.album-image {
  width: 70%;
  margin: 0%;
}
</style>
