<template>
    <panel title="Serch">
            <v-btn
                fab
                class="cyan darken-2"
                slot="action"
                right
                fixed
            > <v-icon>mdi-magnify</v-icon>
            </v-btn>
        <v-text-field
            v-model="search"
            label="Serach by song title, artist, album or genre!"
            type="text"
            required
        ></v-text-field>
    </panel>
</template>

<script>
import _ from 'lodash' // Don't Worked

export default {
  data () {
    return {
      search: ''
    }
  },
  watch: {
    search: _.debounce(async function (value) {
      const route = {
        name: 'songs'
      }
      if (this.search !== '') {
        route.query = {
          search: this.search
        }
      }
      this.$router.push(route)
    }, 700),
    '$route.query.search': {
      immediate: true,
      handler (value) {
        this.search = value
      }
    }
  }
}
</script>

<style scoped>
</style>
