<template>
    <div>
    <panel title="Tabs">
        <textarea
            v-model="tabs"
            readonly
            cols="30"
            rows="10"
        ></textarea>
    </panel>
  </div>
</template>

<script>

export default {
  props: [
    'tabs'
  ]
}
</script>

<style scoped>
textarea {
  width: 100%;
  height: 300px;
  border: node;
  border-style: none;
  font-family: monospace;
  font-size: 10px;
  border-color: transparent;
  overflow: auto;
  padding: 20px;
}
</style>
